---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include index_header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<div class="photo">
					<img src="/assets/images/wu.jpg" />
				</div>
                <h1>Junzhe Wu 武军哲</h1>
			</div>
		</section>
		<section class="intro">
			<div class="container">
				<h2>About me.</h2>
				<p>
					I am an ECE Master's student @ University of Michigan. My research advisor is <a href="https://name.engin.umich.edu/people/ghaffari-maani/">Prof. Maani Ghaffari</a> and I am a member of the <a href="https://curly.engin.umich.edu/">Computational Autonomy and Robotics Laboratory (CURLY)</a>. You can download my CV <a href="/assets/files/CV_Junzhe_Wu.pdf">here</a>.
				</p>
			</div>
		</section>
        <section class="intro">
            <div class="container">
                <h2>Research Area.</h2>
                <p>{{ site.research }}</p>
            </div>
        </section>
		<section class="projects">
			<div class="container">
				<h2>Projects.</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects reversed %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<h3 class="project-title">{{ item.project.title }}</h3>
								<span class="description">{{ item.project.type }}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>